@import "../../scss/mixins";
@import "../../scss/variables";

.journey-item {
    width: 100%;
    min-height: 8rem;
    background-color: $tripItemBgColor;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 7px;
    margin: 2rem 0;
    position: relative;


    &__tripleg {
        width: inherit;
        height: 8rem;
        display: grid;
        grid-template-columns: 12.5% 31% 13% 31% 12.5%;
        grid-template-rows: 1fr;
    }

    .time {
        font-size: 1.8rem;
        margin: 0;
        width: fit-content;
    }

    .endpoint-name {
        font-size: 1.6rem;
        margin: 0;
        text-align: left;
        width: 100%;

    }

    .tripleg-divider {
        width: 32.4rem;
        height: 0.0625rem;
        background: black;
    }

    .line-container {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        background-color: $green;
        @include center;
        justify-content: center;
        align-items: center;
        font-size: 1.75rem;
        border: 1px solid black;
        text-align: center;
    }

    
}

.tripleg__departure-endpoint {
    display: flex;
    flex-flow: column nowrap;
}

.tripleg-grid-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;
}

.tripleg__lines {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    transform: translateY(-4px);
}

.platform {
    font-size: 1.6rem;
    margin: 0;
    opacity: 0.45;
    text-align: left;
    width: 100%;
    letter-spacing: 0.75px;
}

.open-close-btn {
    width: 3.5rem;
    height: 1.5rem;
    position: absolute;
    bottom: -1.5rem;
    border: none;
    background-color: $tripItemBgColor;

    .btn-arrow {
        z-index: 2;
        font-size: 2rem;
        transform: translateY(-4px);
    }
}

.open-close-btn:hover {
    color: rgb(71, 71, 71);
    cursor: pointer;
}

.open-close-btn::before {
    content: '';
    min-width: 1.1rem;
    min-height: 0rem;
    background: $moduleBgColor;
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    bottom:-1rem;

    border: 10px solid $tripItemBgColor;
    border-color: $tripItemBgColor transparent transparent transparent;
}